FlowServoTeclas.json
[
    {
        "id": "75b3a342296e71f9",
        "type": "mqtt out",
        "z": "cc23c93d429a02c4",
        "d": true,
        "name": "",
        "topic": "codigoiot/ejemplo/servoRobot",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d7e260e1f7bf9a5c",
        "x": 1250,
        "y": 300,
        "wires": []
    },
    {
        "id": "9b4fcc299866866c",
        "type": "debug",
        "z": "cc23c93d429a02c4",
        "name": "debug 39",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 440,
        "wires": []
    },
    {
        "id": "54379cfb949a78f3",
        "type": "function",
        "z": "cc23c93d429a02c4",
        "name": "function 23",
        "func": "// Ignorar mensajes del dashboard que no tienen topic válido\n//if (!msg.topic) {\n//    msg.payload = global.get(\"contador\") || 45;\n//    return msg;\n//}\nlet contador = global.get(\"contador\");\n\n// Si NO existe, iniciarlo en 45\nif (typeof contador === \"undefined\" || contador === null) {\n    contador = 45;\n}\n\n// Botón izquierda → disminuir hasta mínimo 0\nif (msg.topic === \"topicM1-Izq\") {\n    if (contador > 0) {\n        contador--;\n    }\n}\n\n// Botón derecha → aumentar hasta máximo 90\nelse if (msg.topic === \"topicM1-Der\") {\n    if (contador < 90) {\n        contador++;\n    }\n}\n\n// Guardar en global\nglobal.set(\"contador\", contador);\n\n// Salida\nmsg.payload = contador;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 440,
        "wires": [
            [
                "9b4fcc299866866c",
                "68822706ba5ed4ad",
                "d06f0f91097cb5ec",
                "618aa76aa2439653"
            ]
        ]
    },
    {
        "id": "ee55fe1e08dfda83",
        "type": "ui_button",
        "z": "cc23c93d429a02c4",
        "d": true,
        "name": "m1-Izquierda",
        "group": "8b51f80ad55c39e6",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "M1-Izquierda",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topicM1-Izq",
        "topicType": "str",
        "x": 590,
        "y": 340,
        "wires": [
            [
                "54379cfb949a78f3"
            ]
        ]
    },
    {
        "id": "adb6680b5d82567e",
        "type": "ui_button",
        "z": "cc23c93d429a02c4",
        "d": true,
        "name": "m1Derecha",
        "group": "8b51f80ad55c39e6",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "m1Derecha",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topicM1-Der",
        "topicType": "str",
        "x": 590,
        "y": 520,
        "wires": [
            [
                "54379cfb949a78f3"
            ]
        ]
    },
    {
        "id": "68822706ba5ed4ad",
        "type": "ui_text",
        "z": "cc23c93d429a02c4",
        "d": true,
        "group": "8b51f80ad55c39e6",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Grados",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 1060,
        "y": 500,
        "wires": []
    },
    {
        "id": "519ff1ba34bb6420",
        "type": "ui_template",
        "z": "cc23c93d429a02c4",
        "d": true,
        "group": "84e8ec8e1028a0cc",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<script>\n    (function(scope) {\n\n    document.addEventListener(\"keydown\", function(e) {\n\n        // Tecla A → disminuir\n        if (e.key === \"a\" || e.key === \"A\") {\n            scope.send({ topic: \"topicM1-Izq\" });\n        }\n\n        // Tecla D → aumentar\n        if (e.key === \"d\" || e.key === \"D\") {\n            scope.send({ topic: \"topicM1-Der\" });\n        }\n    });\n\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 580,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "d06f0f91097cb5ec",
        "type": "ui_gauge",
        "z": "cc23c93d429a02c4",
        "name": "Motor 1",
        "group": "8b51f80ad55c39e6",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Motor 1",
        "label": "Grados",
        "format": "{{value}}",
        "min": 0,
        "max": "90",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1060,
        "y": 360,
        "wires": [],
        "info": "****"
    },
    {
        "id": "b57d85c0e9475038",
        "type": "ui_template",
        "z": "cc23c93d429a02c4",
        "group": "84e8ec8e1028a0cc",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<script>\n    (function(scope) {\n\n    // Evitar múltiples listeners\n    if (window.__keyboardListenerAdded) return;\n    window.__keyboardListenerAdded = true;\n\n    document.addEventListener(\"keydown\", function(e) {\n\n        // Bloquear auto-repeat del teclado\n    //    if (e.repeat) return;\n\n        if (e.key === \"a\" || e.key === \"A\") {\n            scope.send({ topic: \"topicM1-Izq\" });\n        }\n\n        if (e.key === \"d\" || e.key === \"D\") {\n            scope.send({ topic: \"topicM1-Der\" });\n        }\n    });\n\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 580,
        "y": 400,
        "wires": [
            [
                "54379cfb949a78f3"
            ]
        ]
    },
    {
        "id": "618aa76aa2439653",
        "type": "function",
        "z": "cc23c93d429a02c4",
        "name": "function 24",
        "func": "let value = Number(msg.payload);\n\n// Validar que sea un número\nif (isNaN(value)) {\n    node.error(\"El payload recibido NO es numérico: \" + msg.payload);\n    return null;\n}\n\n// Construir JSON\nmsg.payload = {\n    motor1: value\n};\n\n// Opcional: definir el topic desde aquí\n// msg.topic = \"casa/contador\";\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 240,
        "wires": [
            [
                "75b3a342296e71f9",
                "3640afc66133f62a"
            ]
        ]
    },
    {
        "id": "3640afc66133f62a",
        "type": "debug",
        "z": "cc23c93d429a02c4",
        "name": "debug 40",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 160,
        "wires": []
    },
    {
        "id": "d7e260e1f7bf9a5c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8b51f80ad55c39e6",
        "type": "ui_group",
        "name": "Group Botones",
        "tab": "6835aa512a1d70b8",
        "order": 1,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "84e8ec8e1028a0cc",
        "type": "ui_group",
        "name": "Fecha",
        "tab": "0719df874782259d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6835aa512a1d70b8",
        "type": "ui_tab",
        "name": "BrazoRobot",
        "icon": "dashboard",
        "order": 24,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0719df874782259d",
        "type": "ui_tab",
        "name": "Flow 3",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]