ServoConTeclas4M.json
[
    {
        "id": "75b3a342296e71f9",
        "type": "mqtt out",
        "z": "cc23c93d429a02c4",
        "name": "",
        "topic": "codigoiot/ejemplo/servoRobot",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d7e260e1f7bf9a5c",
        "x": 1110,
        "y": 400,
        "wires": []
    },
    {
        "id": "9b4fcc299866866c",
        "type": "debug",
        "z": "cc23c93d429a02c4",
        "name": "debug 39",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 460,
        "wires": []
    },
    {
        "id": "54379cfb949a78f3",
        "type": "function",
        "z": "cc23c93d429a02c4",
        "name": "function 23",
        "func": "// Cargar valores globales\nlet contador = global.get(\"contador\");\nlet contador2 = global.get(\"contador2\");\nlet contador3 = global.get(\"contador3\");\nlet contador4 = global.get(\"contador4\");\n\n// Inicializar si no existen\nif (contador == null) contador = 90;\nif (contador2 == null) contador2 = 90;\nif (contador3 == null) contador3 = 90;\nif (contador4 == null) contador4 = 90;\n\n// ===== MOTOR 1 =====\nif (msg.topic === \"topicM1-Izq\") {\n    if (contador > 0) contador--;\n    msg.payload = { contador1: contador };\n}\nelse if (msg.topic === \"topicM1-Der\") {\n    if (contador < 180) contador++;\n    msg.payload = { contador1: contador };\n}\n\n// ===== MOTOR 2 =====\nelse if (msg.topic === \"topicM2-Izq\") {\n    if (contador2 > 50) contador2--;\n    msg.payload = { contador2: contador2 };\n}\nelse if (msg.topic === \"topicM2-Der\") {\n    if (contador2 < 120) contador2++;\n    msg.payload = { contador2: contador2 };\n}\n\n// ===== MOTOR 3 =====\nelse if (msg.topic === \"topicM3-Izq\") {\n    if (contador3 > 20) contador3--;\n    msg.payload = { contador3: contador3 };\n}\nelse if (msg.topic === \"topicM3-Der\") {\n    if (contador3 < 86) contador3++;\n    msg.payload = { contador3: contador3 };\n}\n// ===== MOTOR 4 =====\nelse if (msg.topic === \"topicM4-Izq\") {\n    if (contador4 > 0) contador4--;\n    msg.payload = { contador4: contador4 };\n}\nelse if (msg.topic === \"topicM4-Der\") {\n    if (contador4 < 105) contador4++;\n    msg.payload = { contador4: contador4 };\n}\n// Guardar valores globales actualizados SOLO UNA VEZ\nglobal.set(\"contador\", contador);\nglobal.set(\"contador2\", contador2);\nglobal.set(\"contador3\", contador3);\nglobal.set(\"contador4\", contador4);\n// Enviar mensaje\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 400,
        "wires": [
            [
                "9b4fcc299866866c",
                "68822706ba5ed4ad",
                "618aa76aa2439653",
                "f19c106fb57d3a27",
                "6fa6e9e260472c85",
                "75b3a342296e71f9",
                "c73a161767920460",
                "5e1f39e19d0ec05b"
            ]
        ]
    },
    {
        "id": "ee55fe1e08dfda83",
        "type": "ui_button",
        "z": "cc23c93d429a02c4",
        "d": true,
        "name": "m1-Izquierda",
        "group": "8b51f80ad55c39e6",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "M1-Izquierda",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topicM1-Izq",
        "topicType": "str",
        "x": 590,
        "y": 340,
        "wires": [
            [
                "54379cfb949a78f3"
            ]
        ]
    },
    {
        "id": "adb6680b5d82567e",
        "type": "ui_button",
        "z": "cc23c93d429a02c4",
        "d": true,
        "name": "m1Derecha",
        "group": "8b51f80ad55c39e6",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "m1Derecha",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topicM1-Der",
        "topicType": "str",
        "x": 590,
        "y": 520,
        "wires": [
            [
                "54379cfb949a78f3"
            ]
        ]
    },
    {
        "id": "68822706ba5ed4ad",
        "type": "ui_text",
        "z": "cc23c93d429a02c4",
        "d": true,
        "group": "8b51f80ad55c39e6",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Grados",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 1020,
        "y": 580,
        "wires": []
    },
    {
        "id": "519ff1ba34bb6420",
        "type": "ui_template",
        "z": "cc23c93d429a02c4",
        "d": true,
        "group": "84e8ec8e1028a0cc",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<script>\n    (function(scope) {\n\n    document.addEventListener(\"keydown\", function(e) {\n\n        // Tecla A → disminuir\n        if (e.key === \"a\" || e.key === \"A\") {\n            scope.send({ topic: \"topicM1-Izq\" });\n        }\n\n        // Tecla D → aumentar\n        if (e.key === \"d\" || e.key === \"D\") {\n            scope.send({ topic: \"topicM1-Der\" });\n        }\n    });\n\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 580,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "d06f0f91097cb5ec",
        "type": "ui_gauge",
        "z": "cc23c93d429a02c4",
        "name": "Motor 1",
        "group": "8b51f80ad55c39e6",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Motor 1 : Base -->  A y D",
        "label": "Grados",
        "format": "{{value}}",
        "min": 0,
        "max": "180",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1200,
        "y": 220,
        "wires": [],
        "info": "****"
    },
    {
        "id": "b57d85c0e9475038",
        "type": "ui_template",
        "z": "cc23c93d429a02c4",
        "group": "8b51f80ad55c39e6",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<script>\n    (function(scope) {\n\n    // Evitar múltiples listeners\n    if (window.top.__keyboardListenerAdded) return;\n    window.top.__keyboardListenerAdded = true;\n\n    (window.top || window).document.addEventListener(\"keydown\", function(e) {\n\n        // Evitar bloqueo por inputs\n        if ([\"INPUT\", \"TEXTAREA\"].includes(e.target.tagName)) return;\n\n        const key = e.key.toLowerCase();\n\n        if (key === \"a\") scope.send({ topic: \"topicM1-Izq\" });\n        if (key === \"d\") scope.send({ topic: \"topicM1-Der\" });\n\n        if (key === \"w\") scope.send({ topic: \"topicM2-Izq\" });\n        if (key === \"s\") scope.send({ topic: \"topicM2-Der\" });\n\n        if (key === \"o\") scope.send({ topic: \"topicM3-Der\" });\n        if (key === \"p\") scope.send({ topic: \"topicM3-Izq\" });\n\n        if (key === \"x\") scope.send({ topic: \"topicM4-Der\" });\n        if (key === \"z\") scope.send({ topic: \"topicM4-Izq\" });\n    });\n\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 600,
        "y": 400,
        "wires": [
            [
                "54379cfb949a78f3",
                "6b06f4c5e5a86c3b"
            ]
        ]
    },
    {
        "id": "618aa76aa2439653",
        "type": "function",
        "z": "cc23c93d429a02c4",
        "name": "function 24",
        "func": "// Asegurar que el payload sea JSON\nlet data;\n\ntry {\n    if (typeof msg.payload === \"string\") {\n        data = JSON.parse(msg.payload);\n    } else {\n        data = msg.payload;\n    }\n} catch (e) {\n    node.error(\"Error al parsear JSON: \" + e);\n    return null;\n}\n\n// Verificar si existe la llave \"contador2\"\nif (data.hasOwnProperty(\"contador1\")) {\n    msg.payload = data.contador1;   // enviar sólo el valor\n    return msg;\n} else {\n    // Si no existe contador2, no enviar nada\n    return null;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 220,
        "wires": [
            [
                "d06f0f91097cb5ec"
            ]
        ]
    },
    {
        "id": "f19c106fb57d3a27",
        "type": "function",
        "z": "cc23c93d429a02c4",
        "name": "function 27",
        "func": "// Asegurar que el payload sea JSON\nlet data;\n\ntry {\n    if (typeof msg.payload === \"string\") {\n        data = JSON.parse(msg.payload);\n    } else {\n        data = msg.payload;\n    }\n} catch (e) {\n    node.error(\"Error al parsear JSON: \" + e);\n    return null;\n}\n\n// Verificar si existe la llave \"contador2\"\nif (data.hasOwnProperty(\"contador2\")) {\n    msg.payload = data.contador2;   // enviar sólo el valor\n    return msg;\n} else {\n    // Si no existe contador2, no enviar nada\n    return null;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 360,
        "wires": [
            [
                "0caa500fface4521"
            ]
        ]
    },
    {
        "id": "0caa500fface4521",
        "type": "ui_gauge",
        "z": "cc23c93d429a02c4",
        "name": "Motor 2",
        "group": "8b51f80ad55c39e6",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Motor 2: Atras  y Adelante --> W y S",
        "label": "Grados",
        "format": "{{value}}",
        "min": 0,
        "max": "180",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1200,
        "y": 360,
        "wires": [],
        "info": "****"
    },
    {
        "id": "6fa6e9e260472c85",
        "type": "function",
        "z": "cc23c93d429a02c4",
        "name": "function 28",
        "func": "// Asegurar que el payload sea JSON\nlet data;\n\ntry {\n    if (typeof msg.payload === \"string\") {\n        data = JSON.parse(msg.payload);\n    } else {\n        data = msg.payload;\n    }\n} catch (e) {\n    node.error(\"Error al parsear JSON: \" + e);\n    return null;\n}\n\n// Verificar si existe la llave \"contador3\"\nif (data.hasOwnProperty(\"contador3\")) {\n    msg.payload = data.contador3;   // enviar sólo el valor\n    return msg;\n} else {\n    // Si no existe contador2, no enviar nada\n    return null;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 520,
        "wires": [
            [
                "92cc95ac11e3f371"
            ]
        ]
    },
    {
        "id": "92cc95ac11e3f371",
        "type": "ui_gauge",
        "z": "cc23c93d429a02c4",
        "name": "Motor 3",
        "group": "8b51f80ad55c39e6",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Motor 3: Arriba y Abajo --> O y P",
        "label": "Grados",
        "format": "{{value}}",
        "min": 0,
        "max": "180",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1220,
        "y": 520,
        "wires": [],
        "info": "****"
    },
    {
        "id": "8e596af0e70b1277",
        "type": "ui_template",
        "z": "cc23c93d429a02c4",
        "d": true,
        "group": "8b51f80ad55c39e6",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div id=\"scene3d\" style=\"width:100%; height:100%; min-height:400px; background:#111;\"></div>\n\n<script src=\"https://unpkg.com/three@0.128.0/build/three.min.js\"></script>\n\n<script>\n    (function(scope) {\n\n    function init3D() {\n        const div = document.getElementById(\"scene3d\");\n        const w = div.clientWidth || 400;\n        const h = div.clientHeight || 400;\n\n        // Configurar escena\n        const scene = new THREE.Scene();\n        const camera = new THREE.PerspectiveCamera(75, w/h, 0.1, 1000);\n        camera.position.z = 3;\n\n        const renderer = new THREE.WebGLRenderer({ antialias: true });\n        renderer.setSize(w, h);\n        div.appendChild(renderer.domElement);\n\n        // Cubo de prueba\n        const geometry = new THREE.BoxGeometry();\n        const material = new THREE.MeshStandardMaterial({ color: 0x00ff00 });\n        const cube = new THREE.Mesh(geometry, material);\n        scene.add(cube);\n\n        // Luz\n        const light = new THREE.PointLight(0xffffff, 1);\n        light.position.set(3, 3, 3);\n        scene.add(light);\n\n        // Ajuste si el dashboard cambia de tamaño\n        window.addEventListener(\"resize\", () => {\n            const w2 = div.clientWidth;\n            const h2 = div.clientHeight;\n            renderer.setSize(w2, h2);\n            camera.aspect = w2 / h2;\n            camera.updateProjectionMatrix();\n        });\n\n        // Animación\n        function animate() {\n            requestAnimationFrame(animate);\n            cube.rotation.x += 0.02;\n            cube.rotation.y += 0.03;\n            renderer.render(scene, camera);\n        }\n        animate();\n    }\n\n    // Esperar a que el dashboard termine de cargar\n    setTimeout(init3D, 300);\n\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1040,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "c73a161767920460",
        "type": "ui_template",
        "z": "cc23c93d429a02c4",
        "d": true,
        "group": "8b51f80ad55c39e6",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div id=\"scene3d\" style=\"width:100%; height:400px; background:#111;\"></div>\n\n<script src=\"https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js\"></script>\n\n<script>\n    (function() {\n\n    let scene, camera, renderer;\n    let base, grupo1, grupo2, grupo3;\n    let brazo1, brazo2, brazo3;\n\n    // Esperar 200ms para que el dashboard dibuje el div\n    setTimeout(init3D, 200);\n\n    // ======================\n    // ESCUCHAR MENSAJES\n    // ======================\n    window.addEventListener(\"message\", function(evt) {\n        let msg = evt.data;\n\n        if (!msg || !msg.payload) return;\n\n        if (msg.payload.contador1 !== undefined) {\n            grupo1.rotation.z = THREE.Math.degToRad(msg.payload.contador1 - 90);\n        }\n        if (msg.payload.contador2 !== undefined) {\n            grupo2.rotation.z = THREE.Math.degToRad(msg.payload.contador2 - 90);\n        }\n        if (msg.payload.contador3 !== undefined) {\n            grupo3.rotation.z = THREE.Math.degToRad(msg.payload.contador3 - 20);\n        }\n    });\n\n\n    // ======================\n    // INICIALIZACIÓN 3D\n    // ======================\n    function init3D() {\n\n        const container = document.getElementById(\"scene3d\");\n        if (!container) return;\n\n        scene = new THREE.Scene();\n\n        camera = new THREE.PerspectiveCamera(\n            50,\n            container.offsetWidth / container.offsetHeight,\n            0.1,\n            1000\n        );\n\n        camera.position.set(0, -8, 5);\n        camera.lookAt(0, 0, 0);\n\n        renderer = new THREE.WebGLRenderer({ antialias: true });\n        renderer.setSize(container.offsetWidth, container.offsetHeight);\n        container.appendChild(renderer.domElement);\n\n        // Luz\n        const light = new THREE.PointLight(0xffffff, 1.4);\n        light.position.set(6, 6, 8);\n        scene.add(light);\n\n        const ambient = new THREE.AmbientLight(0x404040);\n        scene.add(ambient);\n\n        // ======= BASE =======\n        base = new THREE.Mesh(\n            new THREE.CylinderGeometry(0.7, 0.7, 0.4, 32),\n            new THREE.MeshStandardMaterial({ color: 0x333333 })\n        );\n        scene.add(base);\n\n        // ===== GRUPO 1 =====\n        grupo1 = new THREE.Group();\n        grupo1.position.set(0, 0.2, 0);\n        base.add(grupo1);\n\n        brazo1 = crearSegmento(2.0, 0.4, 0xFF9933);\n        brazo1.position.y = 1.0;\n        grupo1.add(brazo1);\n\n        let joint1 = crearArticulacion();\n        joint1.position.y = 2.0;\n        grupo1.add(joint1);\n\n        // ===== GRUPO 2 =====\n        grupo2 = new THREE.Group();\n        grupo2.position.y = 2.0;\n        grupo1.add(grupo2);\n\n        brazo2 = crearSegmento(2.0, 0.35, 0x33AAFF);\n        brazo2.position.y = 1.0;\n        grupo2.add(brazo2);\n\n        let joint2 = crearArticulacion();\n        joint2.position.y = 2.0;\n        grupo2.add(joint2);\n\n        // ===== GRUPO 3 =====\n        grupo3 = new THREE.Group();\n        grupo3.position.y = 2.0;\n        grupo2.add(grupo3);\n\n        brazo3 = crearSegmento(1.8, 0.3, 0x88FF88);\n        brazo3.position.y = 0.9;\n        grupo3.add(brazo3);\n\n        animate();\n    }\n\n\n    function crearSegmento(largo, grosor, color) {\n        return new THREE.Mesh(\n            new THREE.BoxGeometry(grosor, largo, grosor),\n            new THREE.MeshStandardMaterial({ color })\n        );\n    }\n\n    function crearArticulacion() {\n        return new THREE.Mesh(\n            new THREE.SphereGeometry(0.22, 32, 32),\n            new THREE.MeshStandardMaterial({ color: 0x222222 })\n        );\n    }\n\n\n    // ======================\n    // ANIMACIÓN\n    // ======================\n    function animate() {\n        requestAnimationFrame(animate);\n        if (renderer && scene && camera) {\n            renderer.render(scene, camera);\n        }\n    }\n\n})();\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1060,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "3738487423f5edcf",
        "type": "ui_gauge",
        "z": "cc23c93d429a02c4",
        "name": "Motor 4",
        "group": "8b51f80ad55c39e6",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Motor 4: Garra --> X y Z",
        "label": "Grados",
        "format": "{{value}}",
        "min": 0,
        "max": "105",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1220,
        "y": 660,
        "wires": [],
        "info": "****"
    },
    {
        "id": "5e1f39e19d0ec05b",
        "type": "function",
        "z": "cc23c93d429a02c4",
        "name": "function 29",
        "func": "// Asegurar que el payload sea JSON\nlet data;\n\ntry {\n    if (typeof msg.payload === \"string\") {\n        data = JSON.parse(msg.payload);\n    } else {\n        data = msg.payload;\n    }\n} catch (e) {\n    node.error(\"Error al parsear JSON: \" + e);\n    return null;\n}\n\n// Verificar si existe la llave \"contador2\"\nif (data.hasOwnProperty(\"contador4\")) {\n    msg.payload = data.contador4;   // enviar sólo el valor\n    return msg;\n} else {\n    // Si no existe contador2, no enviar nada\n    return null;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 660,
        "wires": [
            [
                "3738487423f5edcf"
            ]
        ]
    },
    {
        "id": "a90581f175d9b241",
        "type": "debug",
        "z": "cc23c93d429a02c4",
        "name": "debug 44",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 640,
        "wires": []
    },
    {
        "id": "6b06f4c5e5a86c3b",
        "type": "debug",
        "z": "cc23c93d429a02c4",
        "name": "debug 45",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 500,
        "wires": []
    },
    {
        "id": "ace49a343eabfb75",
        "type": "ui_template",
        "z": "cc23c93d429a02c4",
        "group": "8b51f80ad55c39e6",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<script>\n    (function(scope) {\n\n    // Evitar múltiples listeners\n    if (window.__keyboardListenerAdded) return;\n    window.__keyboardListenerAdded = true;\n    \n    (window.top || window).document.addEventListener(\"keydown\", function(e) {\n\n        // Bloquear auto-repeat del teclado\n    //    if (e.repeat) return;\n\n        if (e.key === \"a\" || e.key === \"A\") {\n            scope.send({ topic: \"topicM1-Izq\" });\n        }\n\n        if (e.key === \"d\" || e.key === \"D\") {\n            scope.send({ topic: \"topicM1-Der\" });\n        }\n                if (e.key === \"w\" || e.key === \"W\") {\n                scope.send({ topic: \"topicM2-Izq\" });\n                }\n\n                if (e.key === \"s\" || e.key === \"S\") {\n                scope.send({ topic: \"topicM2-Der\" });\n                }\n                if (e.key === \"o\" || e.key === \"O\") {\n                scope.send({ topic: \"topicM3-Der\" });\n                }\n                if (e.key === \"p\" || e.key === \"P\") {\n                scope.send({ topic: \"topicM3-Izq\" });\n                }\n                if (e.key === \"x\" || e.key === \"X\") {\n                scope.send({ topic: \"topicM4-Der\" });\n                }\n                if (e.key === \"z\" || e.key === \"Z\") {\n                scope.send({ topic: \"topicM4-Izq\" });\n                }\n\n    });\n\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 620,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "d7e260e1f7bf9a5c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8b51f80ad55c39e6",
        "type": "ui_group",
        "name": "Group Botones",
        "tab": "6835aa512a1d70b8",
        "order": 1,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "84e8ec8e1028a0cc",
        "type": "ui_group",
        "name": "Fecha",
        "tab": "0719df874782259d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6835aa512a1d70b8",
        "type": "ui_tab",
        "name": "BrazoRobot",
        "icon": "dashboard",
        "order": 24,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0719df874782259d",
        "type": "ui_tab",
        "name": "Flow 3",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]